Django==5.0.9
Pillow==10.3.0
cryptography==42.0.8
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
psycopg[binary]==3.1.19
django-filter==24.2
django-cors-headers==4.3.1
drf-spectacular==0.27.2
drf-flex-fields==1.0.2
python-dotenv==1.0.1
django-storages[s3]==1.14.2
opentelemetry-sdk==1.41.1
opentelemetry-instrumentation-django==0.62b1
opentelemetry-instrumentation-psycopg==0.62b1
opentelemetry-instrumentation-logging==0.62b1
opentelemetry-exporter-otlp-proto-http==1.41.1
pytest==8.2.0
pytest-django==4.8.0
factory-boy==3.3.0
model-bakery==1.18.0
black==24.4.2
isort==5.13.2
flake8==7.0.0
