-r requirements.txt
opentelemetry-sdk==1.41.1
opentelemetry-instrumentation-django==0.62b1
opentelemetry-instrumentation-psycopg==0.62b1
opentelemetry-instrumentation-logging==0.62b1
opentelemetry-exporter-otlp-proto-http==1.41.1
pytest==8.2.0
pytest-django==4.8.0
factory-boy==3.3.0
model-bakery==1.18.0
black==24.4.2
isort==5.13.2
flake8==7.0.0
